:root {
  --primary-color: rgb(0, 0, 0);
  --ham-color: rgba(0, 0, 0, 0.9);
  --secondary-color: rgb(255, 255, 255);
  --opinion-color:rgba(255, 255, 255, 0.7);
  --motif-color: rgb(255, 156, 37);
  --accent-color: rgb(51, 136, 179);
  --shadow-color: rgba(0, 0, 0, 0.25);
  --motif-sec-color:rgb(250, 213, 168);
  --accent-hover-color:rgb(121, 203, 213);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: var(--secondary-color);
}

/* __________________________________________________________________________Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: var(--secondary-color);
}

.header__nav {
  max-width: 1220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
}

.icon_nav {
  width: 1.5rem;
  display: none
}

.nav__li{
  display: inline-block;
}

.nav__li, .nav__li--ham {
  list-style: none;
  margin: 0.25rem 1rem;
}

.nav__a {
  text-decoration: none;
  color: var(--primary-color);
}

.nav__a:hover {
  color: var(--motif-color);
}

/* __________________________________________________________________________Hamburger menu */

.off__screen--menu{
  background-color: var(--ham-color);
  height: calc(100vh - 49px);
  width: 100%;
  max-width: 300px;
  position: fixed;
  top: 49px;
  right: -300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
  transition: .3s ease-in-out;
}

.off__screen--menu.active {
  right: -1px;
}

.nav__a--ham {
  text-decoration: none;
  color: var(--secondary-color);
}

.ham{
  background-color: var(--secondary-color);
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 49px;
  display: none;
}

.ham__menu{
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: 80;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ham__menu span {
  height: 0.2rem;
  width: 1.5rem;
  background-color: var(--primary-color);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  z-index: 81;
  transform: translate(0, -50%);
  transition: .3s ease;
}

.ham__menu span:first-child {
  top: 25%;
}

.ham__menu span:nth-child(3) {
  top: 75%;
}

.ham__menu.active span:first-child {
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
}

.ham__menu.active span:nth-child(2){
  opacity: 0;
}

.ham__menu.active span:nth-child(3){
  top: 50%;
  transform: translate(0, -50%) rotate(-45deg);
}

/* __________________________________________________________________________Main */

.main {
  display: grid;
  grid-template-columns: 1fr;
}

/* __________________________________________________________________________Home */

.hero {
  height: 100dvh;
  width: 100%;
  display: grid;
  align-items: end;
}

.hero__img {
  height: 100dvh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.hero__container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 2;
  display: grid;
  color: var(--secondary-color);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0) 100%);
}

.slogan__section {
  max-width: 1220px;
  margin: 75px auto;
}

.slogan {
  font-size: 3.375rem;
  line-height: 4rem;
  text-align: center;
}

.slogan__p {
  padding-top: 1rem;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
}

/* __________________________________________________________________________About */

.about {
  max-width: 1220px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title ."
    "content portrait"
    "book portrait"
    "book info"
    "button button";
  grid-column-gap: 75px;
}

.about__title {
  grid-area: title;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--motif-color);
  margin: 3.5rem 0 3rem;
}

.about__content {
  grid-area: content;
}

.portrait {
  width: 600px;
  grid-area: portrait;
  transform: translate(-20px, -26px);
  border-radius: 10px;
}

.book {
  width: 545px;
  grid-area: book;
  margin-top: 3.5rem;
  border-radius: 10px;
}

.about__content-book {
  grid-area: info;
  transform: translate(-20px, 0);
  padding: 0 34px;
}

.about__button {
  grid-area: button;
}

.button {
  justify-self: center;
  margin-top: 4rem;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: var(--accent-color);
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
  text-align: center;
}

.button:hover{
  background-color: var(--accent-hover-color);
}

/* __________________________________________________________________________Offer */

.offer {
  width: 100%;
  background-image: url(img/cenniktlo.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: grid;
}

.offer__container {
  max-width: 1220px;
  margin: 0 auto 36.5dvw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title-offer ."
    "content ."
    "price1 price2"
    "price3 price4"
    "button-offer button-offer";
  grid-column-gap: 75px;
}

.offer__title {
  grid-area: title-offer;
}

.offer__description {
  grid-area: content;
}

.price1 {
  grid-area: price1;
}

.price2 {
  grid-area: price2;
}

.price3 {
  grid-area: price3;
}

.price4 {
  grid-area: price4;
}

.offer__button {
  grid-area: button-offer;
}

.offer__button--sm {
  grid-area: button-offer;
  display: none;
}

.offer__price {
  background-color: var(--secondary-color);
  margin-top: 3.5rem;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 5px var(--shadow-color);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.offer__price--title,
.contact__title--data {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: var(--primary-color);
}

.offer__price--price {
  color: var(--motif-color);
  font-weight: 600;
  font-size: 1.5rem;
}

/* __________________________________________________________________________Opinions */

.opinions {
  background-color: var(--secondary-color);
  max-width: 1220px;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.slider{
  width: 100%;
  background-image: url(img/opinion.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: grid;
  align-items: start;
  border-radius: 10px;
}

.slider__container {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  overflow: hidden;
}

.arrow {
  background-color: var(--accent-color);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
  position: absolute;
}

.arrow:hover{
  background-color: var(--accent-hover-color);
}

#btn__next{
  right: calc(((100% - 1220px)/2) + 1rem);
}

.track {
  display: flex;
  align-items: center;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0 3.5rem;
  gap: 1rem;
}

.track::-webkit-scrollbar {
  display: none;
}

.slider__card {
  flex-shrink: 0;
  width: 100%;
  background-color: var(--opinion-color);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.quote,
.quote-end {
  width: 2rem;
}

.quote-end{
  align-self: flex-end;
}

.opinion__text,
.opinion__name {
  padding-top: 1rem;
}

.opinion__name{
  font-weight: 600;
  font-size: 1.25rem;
  align-self: flex-end;
}

.slider__nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.slider__indicator {
  border: 0;
  border-radius: 1rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--secondary-color);
  margin-bottom: 1rem;
  cursor: pointer;
}

.slider__indicator.current__slide {
  background-color: var(--accent-color);
  border: 2px var(--secondary-color) solid
}

.is__hidden {
  display: none;
}
/* __________________________________________________________________________Contact */

.contact {
  background-color: var(--secondary-color);
  width: 1220px;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title-cont ."
    "contact map"
    "account map";
  grid-column-gap: 75px;
  justify-content: space-between;
}

.contact__title {
  grid-area: title-cont;
}

.contact__info {
  grid-area: contact;
}

.contact__account {
  grid-area: account;
  margin-top: 3.5rem;
}

.map__div {
  grid-area: map;

}

.map {
  border-radius: 10px;
  max-height: 414px;
}

.contact__title--data {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

/* __________________________________________________________________________Footer */

.footer {
  background-image: url(img/footer.jpg);
  height: 400px;
  background-size: cover;
  background-position: right;
  display: grid;
  align-items: end;
  color: var(--secondary-color);
  justify-content: center;
  font-weight: 300;
  padding: 1rem 0;
}

.footer__p {
  width: 1220px;
}

.icon_cont {
  width: 1.5rem;
  margin-right: 0.5rem;
  transform: translateY(4px);
}

.contact__a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
}

/* media max-width = 1280 px______________________________________________________________________________________________________________ */

@media screen and (max-width: 1280px) {

  .header__nav,
  .slogan__section,
  .about,
  .offer__container,
  .opinions {
    max-width: 80%;
  }

  .slogan,
  .slogan__p {
    text-align: left;
  }

  .slogan__p {
    font-size: 1.5rem;
    line-height: normal;
  }

  .about {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "content"
      "portrait"
      "info"
      "book"
      "button";
  }

  .portrait {
    width: 100%;
    transform: translate(0, 0);
    justify-self: center;
  }

  .book {
    width: 100%;
    justify-self: center;
  }

  .about__content-book {
    transform: translate(0, 0);
    padding: 0;
  }

  .portrait,
  .book,
  .about__content-book,
  .offer__price,
  .map {
    margin-top: 2rem;
  }

  .offer__container {
    grid-template-areas:
      "title-offer title-offer"
      "content content"
      "price1 price2"
      "price3 price4"
      "button-offer button-offer";
    grid-column-gap: 2rem;
  }

  #btn__next{
  right: calc(((100% - 80%)/2) + 1rem);
}

  .contact {
    width: 80vw;
    grid-template-areas:
      "title-cont title-cont"
      "contact account"
      "map map";
    justify-content: left;
    grid-column-gap: 2rem;
  }

  .contact__account {
    margin-top: 0;
  }

  .map {
    width: 100%;
  }

  .footer {
    height: 20vh;
  }

  .footer__p {
    width: 80vw;
    font-size: 0.75rem;
  }
}

/* media max-width = 1024 px______________________________________________________________________________________________________________ */

@media screen and (max-width: 1024px) {

  .nav__li {
    margin: 0.25rem 0.75rem;
  }

  .slogan__section {
    margin: 60px auto;
  }

  .slogan {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .slogan__p {
    padding-top: 0.75rem;
  }

  .offer {
    background-size: 130%;
  }

  .offer__container {
    margin: 0 auto 50dvw;
  }

  .offer__price--title,
  .contact__title--data {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .offer__price--price {
    font-size: 1.2rem;
  }
}

/* media max-width = 767 px______________________________________________________________________________________________________________ */


@media screen and (max-width: 767px) {

  .header__nav {
    max-width: 90%;
    justify-content: flex-end;
    margin: 0.5rem 0;
  }

  .ham {
    display: block
  }

  .nav__li {
    display: none;
  }

  .slogan__section {
    margin: 50px auto;
  }

  .slogan {
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .slogan__p {
    font-size: 1rem;
  }

  .title {
    font-size: 1.75rem;
    margin: 3.5rem 0 2rem;
  }

  .button {
    margin-top: 2.5rem;
  }

  .contact__account {
    margin-top: 2rem;
  }

  .offer__container {
    margin: 0 auto 60dvw;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title-offer"
      "content"
      "price1"
      "price2"
      "price3"
      "price4"
      "button-offer";
  }

  .offer__button {
    display: none;
  }

  .offer__button--sm {
    display: block;
  }

  .offer__price--title,
  .contact__title--data {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .offer__price--price {
    font-size: 1rem;
  }

  .slider__container {
    display: block;
    max-height: 75vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color);
    /* scrollbar-color: var(--accent-color); */
    -ms-overflow-style: unset;
  }

  .arrow{
    display: none;
  }

  .track {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .slider__card{
    width: 100%;
    padding: 1rem;
  }

  .contact {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title-cont"
      "contact"
      "account"
      "map";
  }

  .footer {
    height: auto;
  }

  .footer__p {
    font-size: 0.5rem;
  }
}

/* _______________________________________________________________________________________________________________ */