:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(255, 255, 255);
  --motif-color: rgb(255, 156, 37);
  --accent-color: rgb(51, 136, 179);
  --shadow-color: rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: var(--secondary-color);
}

.header__nav {
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
}

.logo {
  height: 60px;
}

.nav__li {

  list-style: none;
  margin: 1rem;
  display: inline-block;
}

.nav__a {
  height: 50%;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}

.nav__a:hover {
  color: var(--motif-color);
}

.main {
  display: grid;
}

.hero {
  height: 100vh;
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  align-items: end;
}

.hero__container {
  display: grid;
  color: var(--secondary-color);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0) 100%);
}

.slogan__section {
  width: 1220px;
  margin: 75px auto;
}

.slogan {
  font-size: 3.375rem;
  text-align: center;
}

.slogan__p {
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
}

.about {
  max-width: 1220px;
  margin: 75px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title ."
    "content portrait"
    "book portrait"
    "book info"
    "button button";
  grid-column-gap: 75px;
}

.about__title {
  grid-area: title;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--motif-color);
  margin: 4.5rem 0 3rem;
}

.about__content {
  grid-area: content;
}

.portrait {
  grid-area: portrait;
  transform: translate(-20px, -26px);
  border-radius: 10px;
}

.book {
  grid-area: book;
  margin-top: 3.5rem;
  border-radius: 10px;
}

.about__content-book {
  grid-area: info;
  transform: translate(-20px, 0);
  padding: 0 34px;
}

.about__button {
  grid-area: button;
}

.button {
  justify-self: center;
  margin-top: 4.5rem;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: var(--accent-color);
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
}

.offer {
  background-image: url(img/cenniktlo.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: grid;
}

.offer__container {
  /* background-color: blue; */
  max-width: 1220px;
  margin: 0 auto 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title ."
    "content ."
    "price1 price2"
    "price3 price4"
    "button button";
  grid-column-gap: 75px;
}

.offer_title {
  grid-area: title;
}

.offer__description {
  grid-area: content;
}

.price1 {
  grid-area: price1;
}

.price2 {
  grid-area: price2;
}

.price3 {
  grid-area: price3;
}

.price4 {
  grid-area: price4;
}

.offer__button {
  grid-area: button;
}

.offer__price {
  background-color: var(--secondary-color);
  margin-top: 3.5rem;
  height: 260px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 5px var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.offer__price--title,
.contact__title--data {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: var(--primary-color);
}

.offer__price--price {
  color: var(--motif-color);
  font-weight: 600;
  font-size: 1.5rem;
}

.contact {
  background-color: var(--secondary-color);
  width: 1220px;
  margin: 0 auto 75px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title ."
    "contact map"
    "account map";
  grid-column-gap: 75px;
  justify-content: space-between;
}

.contact__title {
  grid-area: title;
}

.contact__info {
  grid-area: contact;
}

.contact__account {
  grid-area: account;
  margin-top: 3.5rem;
}

.map {
  grid-area: map;
  /* background-color: var(--shadow-color); */
  border-radius: 10px;
}

.contact__title--data {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.footer {
  background-image: url(img/footer.png);
  height: 400px;
  background-size: cover;
  background-position: right;
  display: grid;
  align-items: end;
  color: var(--secondary-color);
  justify-content: center;
  font-weight: 300;
  padding-bottom: 25px;
}

.footer__p {
  width: 1220px;
}

.icon_cont {
  width: 1.5rem;
  margin-right: 0.5rem;
  transform: translateY(4px);
}

.contact__a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
}