:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(255, 255, 255);
  --motif-color: rgb(255, 156, 37);
  --accent-color: rgb(51, 136, 179);
  --shadow-color: rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: var(--secondary-color);
}

/* __________________________________________________________________________Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: var(--secondary-color);
}

.header__nav {
  max-width: 1220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
}

.icon_nav {
  width: 1.5rem;
  display: none
}

.nav__li {
  list-style: none;
  margin: 0.25rem 1rem;
  display: inline-block;
}

.nav__a {
  text-decoration: none;
  color: var(--primary-color);
}

.nav__a:hover {
  color: var(--motif-color);
}

/* __________________________________________________________________________Main */

.main {
  display: grid;
  grid-template-columns: 1fr;
}

/* __________________________________________________________________________Home */

.hero {
  height: 100dvh;
  width: 100%;
  /* background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  display: grid;
  align-items: end;
}

.hero__img {
  height: 100dvh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.hero__container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: grid;
  color: var(--secondary-color);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.75) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0) 100%);
}

.slogan__section {
  max-width: 1220px;
  margin: 75px auto;
}

.slogan {
  font-size: 3.375rem;
  line-height: 4rem;
  text-align: center;
}

.slogan__p {
  padding-top: 1rem;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
}

/* __________________________________________________________________________About */

.about {
  max-width: 1220px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title ."
    "content portrait"
    "book portrait"
    "book info"
    "button button";
  grid-column-gap: 75px;
}

.about__title {
  grid-area: title;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--motif-color);
  margin: 3.5rem 0 3rem;
}

.about__content {
  grid-area: content;
}

.portrait {
  grid-area: portrait;
  transform: translate(-20px, -26px);
  border-radius: 10px;
}

.book {
  grid-area: book;
  margin-top: 3.5rem;
  border-radius: 10px;
}

.about__content-book {
  grid-area: info;
  transform: translate(-20px, 0);
  padding: 0 34px;
}

.about__button {
  grid-area: button;
}

.button {
  justify-self: center;
  margin-top: 4rem;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: var(--accent-color);
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
  text-align: center;
}

/* __________________________________________________________________________Offer */

.offer {
  width: 100%;
  background-image: url(img/cenniktlo.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: grid;
}

.offer__container {
  max-width: 1220px;
  margin: 0 auto 36.5dvw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title-offer ."
    "content ."
    "price1 price2"
    "price3 price4"
    "button-offer button-offer";
  grid-column-gap: 75px;
}

.offer__title {
  grid-area: title-offer;
}

.offer__description {
  grid-area: content;
}

.price1 {
  grid-area: price1;
}

.price2 {
  grid-area: price2;
}

.price3 {
  grid-area: price3;
}

.price4 {
  grid-area: price4;
}

.offer__button {
  grid-area: button-offer;
}

.offer__button--sm {
  grid-area: button-offer;
  display: none;
}

.offer__price {
  background-color: var(--secondary-color);
  margin-top: 3.5rem;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 5px var(--shadow-color);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.offer__price--title,
.contact__title--data {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: var(--primary-color);
}

.offer__price--price {
  color: var(--motif-color);
  font-weight: 600;
  font-size: 1.5rem;
}

/* __________________________________________________________________________Opinions */

.opinions {
  background-color: var(--secondary-color);
  width: 1220px;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.carousel__container {
  background-color: blueviolet;
  width: 1220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
}

.slider__row--top {
  display: flex;
  align-items: center;
  gap: 2rem;
  /* flex: 0 0 auto; */
}

.arrow {
  background-color: var(--motif-color);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 0.5rem;
}

.track {
  width: 1076px;
  background-color: aquamarine;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;
  overflow: hidden;
}

.carousel__card {
  flex-shrink: 0;
  width: 348px;
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
}

/* __________________________________________________________________________Contact */

.contact {
  background-color: var(--secondary-color);
  width: 1220px;
  margin: 0 auto 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title-cont ."
    "contact map"
    "account map";
  grid-column-gap: 75px;
  justify-content: space-between;
}

.contact__title {
  grid-area: title-cont;
}

.contact__info {
  grid-area: contact;
}

.contact__account {
  grid-area: account;
  margin-top: 3.5rem;
}

.map__div {
  grid-area: map;

}

.map {
  border-radius: 10px;
  max-height: 414px;
}

.contact__title--data {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

/* __________________________________________________________________________Footer */

.footer {
  background-image: url(img/footer.png);
  height: 400px;
  background-size: cover;
  background-position: right;
  display: grid;
  align-items: end;
  color: var(--secondary-color);
  justify-content: center;
  font-weight: 300;
  padding: 1rem 0;
}

.footer__p {
  width: 1220px;
}

.icon_cont {
  width: 1.5rem;
  margin-right: 0.5rem;
  transform: translateY(4px);
}

.contact__a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
}

/* media max-width = 1280 px______________________________________________________________________________________________________________ */

@media screen and (max-width: 1280px) {

  .header__nav,
  .slogan__section,
  .about,
  .offer__container,
  .opinions {
    max-width: 80%;
  }

  .slogan,
  .slogan__p {
    text-align: left;
  }

  .slogan__p {
    font-size: 1.5rem;
    line-height: normal;
  }

  .about {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "content"
      "portrait"
      "info"
      "book"
      "button";
  }

  .portrait {
    width: 100%;
    transform: translate(0, 0);
    justify-self: center;
  }

  .book {
    width: 100%;
    justify-self: center;
  }

  .about__content-book {
    transform: translate(0, 0);
    padding: 0;
  }

  .portrait,
  .book,
  .about__content-book,
  .offer__price,
  .map {
    margin-top: 2rem;
  }

  .offer__container {
    grid-template-areas:
      "title-offer title-offer"
      "content content"
      "price1 price2"
      "price3 price4"
      "button-offer button-offer";
    grid-column-gap: 2rem;
  }

  .contact {
    width: 80vw;
    grid-template-areas:
      "title-cont title-cont"
      "contact account"
      "map map";
    justify-content: left;
    grid-column-gap: 2rem;
  }

  .contact__account {
    margin-top: 0;
  }

  .map {
    width: 100%;
  }

  .footer {
    height: 20vh;
  }

  .footer__p {
    width: 80vw;
    font-size: 0.75rem;
  }
}

/* media max-width = 1024 px______________________________________________________________________________________________________________ */

@media screen and (max-width: 1024px) {

  .nav__li {
    margin: 0.25rem 0.75rem;
  }

  .slogan__section {
    margin: 60px auto;
  }

  .slogan {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .slogan__p {
    padding-top: 0.75rem;
  }

  .offer {
    background-size: 130%;
  }

  .offer__container {
    margin: 0 auto 50dvw;
  }

  .offer__price--title,
  .contact__title--data {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .offer__price--price {
    font-size: 1.2rem;
  }
}

/* media max-width = 767 px______________________________________________________________________________________________________________ */


@media screen and (max-width: 767px) {

  .header__nav {
    max-width: 90%;
    justify-content: flex-end;
    margin: 0.5rem 0;
  }

  .icon_nav {
    display: block
  }

  .nav__li {
    display: none;
  }

  .slogan__section {
    margin: 50px auto;
  }

  .slogan {
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .slogan__p {
    font-size: 1rem;
  }

  .title {
    font-size: 1.75rem;
    margin: 3.5rem 0 2rem;
  }

  .button {
    margin-top: 2.5rem;
  }

  .contact__account {
    margin-top: 2rem;
  }

  .offer__container {
    margin: 0 auto 60dvw;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title-offer"
      "content"
      "price1"
      "price2"
      "price3"
      "price4"
      "button-offer";
  }

  .offer__button {
    display: none;
  }

  .offer__button--sm {
    display: block;
  }

  .offer__price--title,
  .contact__title--data {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .offer__price--price {
    font-size: 1rem;
  }

  .contact {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title-cont"
      "contact"
      "account"
      "map";
  }

  .footer {
    height: auto;
  }

  .footer__p {
    font-size: 0.5rem;
  }
}

/* _______________________________________________________________________________________________________________ */